

/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Annimation */
    --animation-duration: 300ms;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    cursor: default;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: auto;
    list-style: none;
} 

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    opacity: 0.8;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}


/* HEADER ZONE */

#header {
    margin: auto;
    height: 100vh;
    width: 100vw;
}

#header::after {
    margin: auto;
    height: 100vh;
    width: 100vw;
    content: "";
    background: url('./image/main-photo-1-1.jpg') center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
}


.menu {
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


.menu-list {
    /* padding: 8px 10px; */
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    margin: 90px;
}

.menu-list a {
    color: white;
    cursor: pointer;
}

.menu-list:hover {
    color: white;
    transform: scale(1.15);
    transition: var(--animation-duration);
    /* border-bottom: 1.7px solid #2651A6; */
    /* border-radius: 5px; */
    /* border-color: white; */
    /* background-color: #8caef3; */
}

.menu-list li :hover {
    background-color: pink;
}

.logo {
    max-width: 1000px;
    width: 360px;
}

.menu-toggle {
    text-decoration: none;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin: 30px;
    padding: 0;
    color: white;
    display: none;
}

.toggle {
    padding-bottom: 30px;
    font-size: 17px;
}

/* CAFES ZONE */

#cafes {
    margin: 0;
    padding-top: 200px;
    padding-bottom: 150px;
}

.cafes-title {
    padding-bottom: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-bottom: 1.5px solid #2651A6;
    border-width: 30%;
    width: 40%;
}


.cafes-store {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.cafes-store img {
    max-width: 100%;
    max-height: 100%;
    width: 550px;
    height: 550px;
}

.img-dodam-hover,
.img-abel-hover,
.img-none-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s linear;
}



.dodam-img-zone:hover .img-dodam-hover,
.abel-img-zone:hover .img-abel-hover,
.none-img-zone:hover .img-none-hover {
    opacity: 1;
}

.dodam,
.abel,
.none {
    margin: 50px;
    position: relative;
    text-align: center;
}

.dodam-address,
.abel-address,
.none-address {
    padding-top: 30px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 auto;
}

.address-button {
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 3px;
    background-color: #2651A6;
    text-align: center;
    text-decoration: none;
    background-image: none;
}

.address-button:hover {
    transform: scale(1.05);
    background-color: #3774ec;
    transition: var(--animation-duration);
}


/* gallery zone */

#gallery {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    position: relative;
    z-index: 1;
    justify-content: center;
    display: flex;
}

#gallery::after {
    width: 100%;
    height: 100%;
    content: "";
    background-color: #96B3D9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
}

.gallery-zone {
    max-width: 1500px;
}

.gallery-name {
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-bottom: 1.5px solid #2651A6;
    border-width: 100%;
    width: 40%;
}

.gallery-title {
    display: flex;
    justify-content: center;
}

.gallery-photo-zone {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
}

.gallery-photo-zone li {
    margin: auto;
}

.gallery-photo-zone img {
    border-radius: 2px;
    width: 300px;
    margin: 30px;
}


.yoyaku {
    display: flex;
    justify-content: center;
    font-weight: 400;
    padding-top: 10px;
}

.yoyaku span {
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 3px;
    background-color: #2651A6;
    text-align: center;
    text-decoration: none;
    background-image: none;
}

.yoyaku span:hover {
    transform: scale(1.05);
    background-color: #3774ec;
    transition: var(--animation-duration);
}


/* CONTACT ZONE */
#contact {
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact-name {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.contact-img {
    display: flex;
    justify-content: center;
}

.contact-img img{
    max-width: 100%;
    opacity: 0.9;
    width: 850px;
}

.email-insta {
    font-size: large;
    padding-top: 50px;
    text-align: center;
    color: #616161;
}

.contact-info {
    margin: auto;
    padding-bottom: 30px;
    line-height: 30px;
    word-spacing: 3px;
}

.contact-info h3 {
    font-weight: 100;
    margin: auto;
}

.contact-info i {
    font-size: 20px;
}



/* footer zone */

#footer {
    margin: auto;
    padding-top: 100px;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    border-top: 0.1px solid #96B3D9;
    text-align: center;
    position: relative;
    z-index: 1;
}

#footer::after {
    width: 100%;
    height: 100%;
    content: "";
    background-color: #96B3D9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
}


.footer {
    text-align: center;
    line-height: 50px;
    font-family: 'Noto Sans JP', sans-serif;;
}





/* For below 1595px screen width */
@media screen and (max-width: 1210px) {

    :root {
        /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
        }
    

    .cafes-store {
        flex-direction: column;
        text-align: center;
        width: 100%;
        width: 550px;
        margin-right: auto;
        margin-left: auto;
    }

    #header {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        display: flex;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .menu-toggle {
        display: block;
    }

    .menu-list {
        display: none;
    }

    .menu img {
        width: 270px;
    }
}